# Python
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/

# Runtime & Test data
.runtime/
*.sqlite3
*.sqlite3-journal

# Node / Frontend
node_modules/
dist/

# VS Code & Editors
.vscode/
.idea/
*.swp
*.swo

# C/C++ temporary files
tempCodeRunnerFile.c
tempCodeRunnerFile.exe

# Environment
.env
.env.local
.env.*.local